html {
  font-size: 16px;
  font-family: "Helvetica Neue";
}

body {
  background-color: #F2F2F2;
}

h1 {
  color: white;
  font-size: 28px;
  font-family: "Helvetica Neue";
  text-transform: uppercase;
  letter-spacing: 10px;
  color: rgb(52,199,89);
}

h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 2.5;
  font-family: "Helvetica Neue";
  word-spacing: 0.05em;
  letter-spacing: 0.02em;
  letter-spacing: 5px;
}

a {
  text-decoration: none;
}

p {
  margin: 16px 0;
  font-family: "Helvetica Neue";
  letter-spacing: 2px;
}

#introduction {
  padding-top: 77px;
  margin-top: -77px;
}

/* Header */

header {
  font-family: "Helvetica Neue";
  font-size: 14px;
  line-height: 1.25;
  background-color: #222;
  position: fixed;
  top: 0;
  width: 100%;
  font-weight: 900;
}

header li {
  display: inline-block;
}

header a {
  display: block;
  color: #FFFFF0;
  padding: 30px 20px;
  letter-spacing: 1px;
}

footer {
  font-family: "Helvetica Neue";
  font-size: 14px;
  line-height: 1.25;
  background-color: #222;
  position: relative;
  top: 0;
  width: 100%;
  font-weight: 900;
}

footer li {
  display: inline-block;
}

footer a {
  align-content: center;
  display: block;
  color: #FFFFF0;
  padding: 30px 20px;
  letter-spacing: 1px;
}

a.home {
  color: #FFE5B4;
}

.welcome {
  background-color: #FA8072;
  padding: 100px 0;
  margin-top: 77px;
  text-align: center;
}

.content {
  padding: 20px;
  margin: 20px 0;
  text-align: center;
  color: #4C4C4C;
}